@{
    decimal totallocal = (decimal)ViewBag.totalLocal;
    decimal totalForeign = (decimal)ViewBag.totalForeign;
}
<div class="row">
    <div class="col-12">
        <label>
            Total Local 
        </label>
       <b> @totallocal</b> <br />    </div>
    <label>
        Total Extranjero
    </label>
    <b> @totalForeign</b> <br />
</div>

</div>